nav {
	position:fixed;
	top:0;
	left:0;
	height:64px;
	padding-top: 24px;
	width:100%;
	padding-right:0;
	text-align:left;
	z-index:10;
	font-size:14px;
	line-height:14px;
	font-weight:bold;
	background: #f5f5f5;
	padding-left: 240px;
	font-family: "Akkurat", sans-serif;
}

nav li{padding:0;display:block;position:relative}

nav li:last-of-type{margin:0}

nav li span{font-size:14px;line-height:14px;text-transform: uppercase;}

nav a {
	text-transform:none;
}

nav a svg {
	position: relative;
	top: -4px;
	fill: #2d2f30;
}

.menuicons {
	float: right;
	margin-right: 88px;
}

.menuicons svg:hover{
	fill: #909699;
}

.menuicons a:nth-child(3){
	margin: 0 8px;
}

@media (min-width: 601px){
	nav li{float:left;margin-right:20px}
	li a:hover{cursor:pointer}
	nav li.current:hover:after{border-top:none}
	nav li.current:after{border-top:1px solid #000;position:absolute;content:"";right:0;top:50%;left:0}
}

@media (max-width: 600px){
	.menuicons {
		display: none;
	}
	nav {
		position:static;
		font-size:14px;
		width: auto;
		padding: 0;
	}
	.home nav {
		float: right;
		margin: 12px 12px 0 0;
	}
	nav li{margin:0 12px 8px 0; float: left;}
	h1{font-size:40px;line-height:40px}
	h2{font-size:24px;line-height:24px;margin-bottom:12px;margin-top:12px}
	
	.about nav,
	.gettinghere nav {
		float:right;
		margin:12px 4px 0 0;
	}

}

@media (max-width: 353px){ 
	nav li span {
		font-size: 12px;
	}

	.home nav {
		margin-right: 4px;
	}
}
