article:nth-of-type(1){z-index:-1}
article.event{position:relative}

.who p{background:#f5f5f5}
.time p,.price p{font-weight:bold;margin-bottom:20px;font-size:14px}
.time h3,.price h3{color:#909699;text-transform:uppercase;font-size:14px}
.pic img{width:100%}
.pagination{visibility:hidden}
.buy a{text-transform:none}
.current{font-weight:bold}
#about-content{padding:0 100px}
#about-content p{font-size:120px;line-height:120px}

.pic {
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
	transition: all 1s ease;
}

.scroll .pic {
	-webkit-clip-path: polygon(2% 3%, 3% 98%, 97% 94%, 98% 2%);
}


@media (min-width: 601px){
	
	.event{position:relative;margin-bottom:300px}
	.event:nth-of-type(odd){position:relative;height:600px;margin-bottom:0}
	.event:nth-of-type(1){height:auto;margin-bottom:72px}
	.event .pic,.event:nth-of-type(odd) .pic{width:64%;height:500px;margin-left:36%}
	.event:nth-of-type(1) .pic,.pic{width:77%;height:848px;overflow:hidden;position:relative;}
	.event:nth-of-type(1) .pic{margin-left:0}
	.event:nth-of-type(odd) .meta{margin-top:-702px;margin-bottom:0px;bottom:auto}
	.event:nth-of-type(1) .meta{margin-top:-202px}

	#mainhead{width:75%;background:none;text-align:right;position:absolute;right:0;top:185px}
	
	.meta{padding-left:7%;width:56%;margin-top:-202px}
	.meta-top{border-bottom:8px solid #2d2f30;height:74px;position:relative}
	.meta-top p{font-size:54px;letter-spacing:3px}
	.meta-inner{padding:30px 30px 30px 0;background:#f5f5f5;border-left:1000px solid #f5f5f5;margin-left:-1000px;position:relative}
	
	.who{float:right;width:72%}
	.who p{font-size:16px;line-height:24px;margin-bottom:24px}
	.home .who p{padding-top:24px}
	
	.date{float:left;width:28%}
	.buy a{text-decoration:none}
	.buy svg{vertical-align:text-bottom;width:32px;height:24px}
	.pic.mobile{display:none}.buy{margin:35px 0 0 28%;font-size:18px;font-weight:bold;clear:both}
	
}

@media (max-width: 600px){
	article:nth-of-type(1){position:relative;top:72px; margin-bottom:122px}
	.about article:nth-of-type(1){top:0}
	article:nth-of-type(1n+2).pic img{height:100%;width:auto}
	article:nth-of-type(1n+2) .pic{margin-left:120px;height:266px;margin-right:0}
	article:nth-of-type(1n+2) h2{margin-top:0}
	article:nth-of-type(1n+2) .meta{margin-top:-60px;position:relative}
	article:nth-of-type(1n+2) .who{padding-top:12px}
	article:nth-of-type(1n+2) .meta-top{margin-right:44px}
	article:nth-of-type(1) .meta-top{background:none;margin-top:-37px;position:relative;z-index:10}
	article:nth-of-type(1n+2) .meta-inner{margin-right:44px}

	.event{margin-bottom:60px}
	.event .pic{overflow:hidden}
	.event .meta-top{margin-top:-30px;position:relative;z-index:10;background:#f5f5f5}
	.event .meta-inner{background:#f5f5f5}
	.altevent .pic{margin-left:0;margin-right:13%}
	.altevent .pic.nomobile{display:none}
	.altevent .meta-top{margin-top:-60px}

	.meta-top{margin-left:28px;margin-right:28px;border-bottom:4px solid #2d2f30;padding:6px 0}
	.meta-top p{font-size:18px;display:inline}
	.meta-inner{margin:0 28px}

	.who{margin-bottom:23px}
	.who p{font-size:21px;line-height:26px}

	.time,.price{width:45%;margin-right:3%;float:left;margin-bottom:20px;text-transform:uppercase}
	.time p,.price p{margin-bottom:0}

	.buy{clear:left;font-size:18px;font-weight:bold}
	.buy svg{width:16px}
	.buy svg{vertical-align:middle;width:16px;height:12px}

	#mainhead{position:absolute;top:23px;right:0;left:88px;text-align:right}
	#mainpic,.pic{width:93%;height:218px}
	
	.pic{width:auto;height:266px;margin-right:28px}

	article:nth-of-type(1n+2) .pic img {
		height:100%;
		width: auto;
		margin-left: -50%
	}

	.play{display:none}
	.play{background:#2d2f30;height:30px;width:30px;float:right}

	nav,#about-content{padding:0;margin:0 12px 0 23px}
	#about-content p{font-size:40px;line-height:40px}
}